<div class="coluna-esquerda">

  <div id="slider" class="max">
    <div id="slide-holder">
      <div id="slide-runner">
        <div class="wrap-banner">        
          <% slider_inicial.each do |banner| %>
          <%=link_to image_tag(banner.arquivo.url, id: "slide-#{banner.id}"),'#' %>
          <% end %>
          <div id="slide-controls">
            <p id="slide-client" class="text"><strong></strong><span></span></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="ultimos-videos" class="max">
    <h2>Vídeos</h2>
    <% video = @videos.shift  %>
    <div class="video">
    <h3><%= link_to video.noticia.titulo, noticia_path(video.noticia) %></h3>
    <%= link_to image_tag(video.capa.url), noticia_path(video.noticia) %>
    </div>
    <br />
    <% @videos.each do |video| %>
    <div class="video">
    <%= link_to video.noticia.titulo, noticia_path(video.noticia) %>
    <%="<hr />".html_safe if @videos.last != video %>
    </div>
    <% end %>
    
  </div>

  <div id="banners-programas" class="max">
  </div>
  
  <div id="previsao-tempo" class="max">
  </div>
  
  <div id="parceiros" class="max">
  </div>
</div>


<div class="coluna-direita">
  <div id="ultimas-noticias">
    <h2>Útimas notícias</h2>
    <% @noticias.each do |noticia|%>
    <% if noticia == @noticias.first %>
    <h3><%=link_to noticia.titulo, noticia_path(noticia)%></h3>
    <% else %>
    <%=link_to noticia.titulo, noticia_path(noticia)%>
    <% end -%>
    <p><%=link_to noticia.bigode %></p>
    <%="<hr />".html_safe if @noticias.last != noticia %>
    <% end %>
  </div>
  
  <div id="ultima-enquete">
    <h2>Enquete</h2>
  </div>
  
  <div id="voce-no-supercanal">
    <h2>Você no supercanal</h2>
  </div>
  
  <div id="ultimas-vagas-uai">
  </div>
  
  <div id="publicidade-home">
    
  </div>
</div>
<% content_for :header do %>
<script type="text/javascript" charset="utf-8">
if(!window.slider) var slider={};slider.data=<%= slider_inicial.collect{|t| {id: "slide-#{t.id}", client: t.titulo, desc: ""}}.to_json.html_safe %>

$(document).ready(function(){
  
  $('.to-fade').each(function() {
    $(this).hover(
      function() {
        $(this).stop().animate({ opacity: 1.0 });
      },
      function() {
        $(this).stop().animate({ opacity: 0.85 });
      })
    });
})
</script>  
<% end %>