<div id="logo" title="Super Canal - 24 horas no ar"><%=link_to image_tag('logo.png', alt: 'Super Canal - 24 horas no ar'), root_path, title: 'Super Canal - 24 horas no ar' %></div>
<div id="conteudo-topo">
  <div id="busca-topo">
    <%= form_tag method: :get do %>
    <%= text_field_tag :termo, 'pesquisar...' %>
    <%= submit_tag nil, type: :image, src: image_path('botoes/busca.jpg') %>
    <% end %>
  </div>
</div>
