#cabecalho-interno{
	height: 144px;
}

#cabecalho-interno #linha-topo{
	background: url(/assets/linha-topo.gif) repeat-x;
	height: 5px;
	margin-top: 10px;
}

#cabecalho-interno #menu-topo{
	background: url(/assets/bg-menu-topo-menor.gif) repeat-x;
	height: 23px;
/*	margin-top: 20px;*/
	text-align: center;
	padding-top: 10px;
}

#cabecalho-interno #menu-topo ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}

#cabecalho-interno #menu-topo ul li{
	display: inline;
}

#cabecalho-interno #menu-topo ul li.separador-menu-topo{
	margin:0 10px;
}

#cabecalho-interno #menu-topo ul li *{
	font-size: 14px;
	text-transform: uppercase;
	;
}

h1{
font-size:20px;
font-weight:bold;
margin-bottom:10px;
}
