<!DOCTYPE html>
<html>
<head>
  <title>Supercanal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
		<div id="cabecalho-interno">
		  <%=render partial: 'shared/menu_topo' %>
			<%=render partial: 'shared/logo_e_conteudo_topo' %>
			<div class="clear"></div>
			<div id="linha-topo"></div>
		</div>
		<div class="clear"></div>
		<div id="conteudo">
  		<div id="conteudo-central">
        <%= yield %>
  		</div>
  		<div id="lateral-direita">
  		  <%=render partial: 'shared/lateral_direita' %>
  		</div>
		</div>
		<div class="clear"></div>
		<div id="rodape">
      <%=render partial: 'shared/rodape' %>
		</div>
	</div>
</body>
</html>
